body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    padding: 10px;
    text-align: center;
    color: rgb(236, 230, 230);
}

header img {
    width: 50px;
    vertical-align: middle;
}

header h1 {
    display: inline;
    font-size: 24px;
    margin-left: 10px;
}

nav ul{
    background-color: hsl(0, 0%, 20%);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #4CAF50;
}

div id  {
    background-color: #111
}

.content {
    padding: 20px;
}

base li {
    color: #4CAF50;
    text-decoration: none;
}
