
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
}

header {
    background-color: #4CAF50;
    padding: 10px;
    text-align: center;
    color: rgb(236, 230, 230);
}

header img {
    width: 50px;
    vertical-align: middle;
}

header h1 {
    display: inline;
    font-size: 24px;
    margin-left: 10px;
}

.content {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background: rgb(238, 236, 236);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(37, 36, 36, 0.1);
}

h2 {
    color: #4CAF50;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

p {
    margin-top: 10px;
}

p a {
    color: #4CAF50;
    text-decoration: none;
}

nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #4CAF50;
}

.content {
    padding: 20px;
}
p a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    margin-bottom: 20px;
    text-align: center;
}

.success {
    color: rgb(237, 241, 237);
    margin-bottom: 20px;
    text-align: center;
}
a {
    color: #4CAF50;
    text-decoration: none;
}
